
.card {
    width: 10.5em;
    display: inline-block;
    margin: 1em;
    background:white;
    size: 100%;
}

.card:hover {
    cursor: pointer;
}

@media only screen and (min-width: 893px) {
    .card {
        margin: 1em 0.5em;
    }
}